In [3]:
import pandas as pd

In [4]:
# Creating dataframes
data = {
    "name":["Shubham","Kunal","Mark"],
    "Age":[21,17,35],
    "Salary":[50000,55000,60000]
}

df = pd.DataFrame(data)
print(df)

      name  Age  Salary
0  Shubham   21   50000
1    Kunal   17   55000
2     Mark   35   60000

In [6]:
# Read csv file
csv_data = pd.read_csv("company.csv")
print(csv_data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [8]:
# we install openpyxl to read excel files
data = pd.read_excel("expense3.xlsx")
print(data)

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [10]:
# Data exploration
print(data.head(10))  # returns first 10 values
print(data.tail(10))  # returns last 10 values

        Date    Category       Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery             Grocery      30         Cash
1 2023-01-02        Food          Restaurant     890          UPI
2 2023-01-04         123              Zomato     257          NaN
3 2023-01-06  Essentials               Diary     120          UPI
4 2023-01-06  Essentials             Perfume    1500         Cash
5 2023-01-09     Grocery  Fruits and Veggies     456         Cash
6 2023-01-10       Bills          House Rent   16000          UPI
7 2023-01-10     Grocery      Tomato KetchUp      70          UPI
8 2023-01-12        Food                Chai      15          UPI
9 2023-01-15  Essentials      Salt and Sugar      50          NaN
         Date    Category       Sub-Category   Amount Payment Mode
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [11]:
# info about data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           29 non-null     datetime64[ns]
 1   Category       29 non-null     object
 2   Sub-Category   29 non-null     object
 3   Amount         29 non-null     int64
 4   Payment Mode   25 non-null     object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB
None

In [12]:
# To gain statistical insights of data
print(data.describe())

                                Date        Amount
count                             29     29.000000
mean   2023-01-17 19:02:04.137931008   1039.620690
min              2023-01-01 00:00:00     10.000000
25%              2023-01-10 00:00:00     70.000000
50%              2023-01-19 00:00:00    257.000000
75%              2023-01-26 00:00:00    890.000000
max              2023-01-30 00:00:00  16000.000000
std                              NaN   2927.684353

In [14]:
# To check null values
print(data.isnull())  # Returns true in case of null value
print(data.isnull().sum())  # returns count of null values column wise

     Date  Category  Sub-Category   Amount  Payment Mode
0   False     False          False   False         False
1   False     False          False   False         False
2   False     False          False   False          True
3   False     False          False   False         False
4   False     False          False   False         False
5   False     False          False   False         False
6   False     False          False   False         False
7   False     False          False   False         False
8   False     False          False   False         False
9   False     False          False   False          True
10  False     False          False   False         False
11  False     False          False   False         False
12  False     False          False   False          True
13  False     False          False   False         False
14  False     False          False   False         False
15  False     False          False   False         False
16  False     False          False   False         False
17  False     False          False   False          True
18  False     False          False   False         False
19  False     False          False   False         False
20  False     False          False   False         False
21  False     False          False   False         False
22  False     False          False   False         False
23  False     False          False   False         False
24  False     False          False   False         False
25  False     False          False   False         False
26  False     False          False   False         False
27  False     False          False   False         False
28  False     False          False   False         False
Date             0
Category         0
Sub-Category     0
Amount           0
Payment Mode     4
dtype: int64